﻿<%@ Page Title="" Language="C#" MasterPageFile="MasterStrana.Master" AutoEventWireup="true" CodeBehind="AdminKombinacije.aspx.cs" Inherits="LotoRotoProjekat.AdminKombinacije" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="placeholderAdminDropdown" runat="server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">

              <asp:DropDownList ID="kombinacijeIzvestaj" runat="server">
                </asp:DropDownList>

</asp:Content>
