﻿<%@ Page Title="" Language="C#" MasterPageFile="MasterStrana.Master" AutoEventWireup="true" CodeBehind="Kontakt.aspx.cs" Inherits="LotoRotoProjekat.Kontakt" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">

            <div class="col-lg-12 col-md-5 mb-4" style="text-align: justify;  text-align: center; color:#275196; padding:100px";>
    <h1 style="margin-top:40px";>Odeljenje podrške igračima</h1><br />
				<ul style="list-style-type:none";>
					<li>
						<h2>RADNO VREME: </h2>
						<p>Ponedeljak - Nedelja, 07:00 - 22:00h</p>
						
					</li>
					<li>
						<h2>KONTAKT TELEFON:</h2>
						<p>065/555000</p>
						<p>064/555001</p>
					</li>
					<li>
						<h2>ADRESA:</h2>
						<p>Lutrijska 14</p>
						<p> 11000 Beograd, Srbija</p>
					</li>
				</ul>
    </div> 
</asp:Content>
