﻿<%@ Page Title="" Language="C#" MasterPageFile="MasterStrana.Master" AutoEventWireup="true" CodeBehind="Oigri.aspx.cs" Inherits="LotoRotoProjekat.Oigri" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <div class="col-lg-12 col-md-5 mb-4" style="text-align: justify;  text-align: center; color:#275196; padding:50px";>
        <h1 style="margin-top:40px";>Dobro došli!</h1><br />
        <ul style="list-style-type:none";>
					<li>
						<h2>LOTO ROTO LUTRIJA</h2>
						<p><strong><b>KONCEPT IGRE</b></strong></p>
						
					</li>

        </ul>
					 <p>
                    Ideja ove  web aplikacije je da se korisnici stimulišu za donacije u humanitarne svrhe kroz igru LOTO ROTO. 
                    <p><strong><b>„KAD STE VI NA DOBITKU SVI SU NA DOBITKU!“.</b></strong></p>
                    Igra se oslanja na pravila igre LOTO Državne Lutrije Srbije, ali uz nekoliko izmena.
                    Svaki  igrač ima mogućnost da uplati minimum jednu  kombinaciju od 14 brojeva , koje bira na tiketu sa 39 brojeva.
                    Premija se ostvaruje  u slučaju pogođenih sedam  brojeva, dok su: 
                    druga nagrada - kombinacija sa šest  pogodaka; 
                    treća nagrada - kombinacija sa pet  pogodaka; 
                    sa četiri  pogotka se dobija  zamena tiketa. 
                    Sa 14 kombinacija veće su šanse za dobitak. 
                   <p> <strong><b>Zašto je to važno? </b></strong></p>
                    Zato što se isplata, osim dobitniku, procentualno odvaja na ime fonda za humanitarnu pomoć,
                        dok  manji procenat ide organizatoru(2%), <b>ali samo u slučaju ostvarenog dobitka.</b> 
                    Ukoliko  nema sedmice  fond koji je bio namenjan  za tu nagradu se prebacuje u sledeće kolo. 
                    Dakle, veći broj uplata - veće nagrade - više pogodaka - više novca za humanitarni fond!  
                    <p><strong><b>NAGRADE</b></strong></p> 
                    Broj dobitnika sa četvorkom ( zamenom tiketa) ne možemo predvideti , 
                    tako da se od ukupnog fonda jednog kola odmah odvajaju sredstva koja će pokriti  trošak zamene tiketa, 
                    čija cena je fiksna.Ostatak novca je fond za ostale tri nagrade.</p> 
                    
                    <p>Pogodak od sedam brojeva - 60% od ukupnog fonda tekućeg kola;</p>  
                    <p>Pogodak od šest brojeva - 30% od ukupnog fonda tekućeg kola;</p>
                    <p>Pogodak od pet brojeva - 10% od ukupnog fonda tekućeg kola;</p> 
                    <p>Pogodak od četiri broja je zamena tiketa.</p>
                       
                    <p>Svaki dobitnik (sa sedam, šest i pet pogodaka), odvaja deo svoje nagrade-20% kao donaciju u humanitarne svrhe, 
                        kao i 2% namenjenih organizatoru igre. 
                    Sredstva se automatski prebacuju u humanitarni fond.
                    Ostatak novca se isplaćuje dobitniku.
                </p>
                    <br />
                         <hr />
            <div class="title">
				<h2>Humanitarni fond</h2><br />
                <p>
                    Humanitarne fondacije u Beogradu, svojim okupljanjem, skreću pažnju na podsticanje društveno odgovornog delovanja i humanosti,
                    koja za cilj ima buđenje svesti kod građana i shvatanje koliko je humanitarni rad značajan i koliko svako od nas može da da doprinos u toj oblasti.
                    Zaboravljamo da su svakog dana pune bolnice,a da često nema sredstava za lečenje.
                    Takođe, mnogi ljudi nemaju krov nad glavom, niti mogućnost da se školuju i tu je naša i vaša glavna uloga. 
                    Zato postoje fondacije kao što su Podrži život, Budi human i fondacija Novaka Đokovića, koje uz vašu pomoć, svakodnevno pomažu da se navedeni problemi reše.
                    <p>Neka nas ova igra podstakne da mislimo na druge i da zapamtimo da naše malo nekome znači mnogo.</p>
	        </div>
    </div>
			
</asp:Content>
